.container{
    margin: 5px;
    padding: 10px;
    float: left;
    border: 2px solid gray;
    align-items: center;  
    text-align: left;  
    position: relative;
}
.image{
    margin: auto;
    align-items: center;
}
.title{
    font-size:18px;
    font-weight: bold;
}
.channel{
    font-size: 15px;
    font-weight: bold;
}
.close{
    position: absolute;
    right: 0;
}
.edit{
    position: absolute;
    right: 3em;
}